#paragraafA {
    padding:10px;
    margin-top:25px;
    margin-left: 25px;
    width: 1375px;
    height: 1350px;
    background-color:grey;
    border-style:solid;
    border-width: 2px;
    border-color: black;
    background-color: #FFCCCB !important; 
}

#img_left{
    width: 800px;
    height: 523px;
    margin-left: 1px;
    margin-top:50px;
}

#contactgegevens {
    width: 550px;
    height: 400px;
   margin-top:50px;
    margin-left: 1px;
}

#bewegendemap {
    margin-top:15px;
    margin-left:5px;
}

#titel{
    color: grey;
}
h4{
    color: grey;
    margin-top:20px;
}

.row{
    color: grey;
}

/* Footer CSS */
footer {
    margin-top: 130px;
    background-color: rgb(217, 231, 250);
    border: solid;
    border-width: 1px;
    border-color: darkgray;
}

.text-uppercase {
    color: gray;
}

footer a, p {
    color: gray;
    text-decoration: none;
}

footer a:hover {
    color: black;
}

/* Navbar CSS */
.navbar {
    background-image: url("hotelbanner1.jpg");
    background-repeat: no-repeat;
}

#memberknop{
    margin-left: 850px;
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #5C5CFF;
}

#memberknop:hover {
    background-color: #8A8AFF;
}