#Reserveringtitel{
    margin-top: 5px;
    color: grey
    }

    .btn-primary{
        font-size: 50px;
        color:white ;
        background-color: grey;
        border:none;
    }
    
    .btn-primary:hover {
    background-color:green;
    }
    
    .button{
        color: white;
        background-color: grey;
        border:none; 
    }
    
    .table tr {
        border-color: #FFCCCB !important; 
        border-width: 5px;
        
    }
    
    th {
        background-color: white; 
    
    }
    
    .naarbeneden{
        margin-bottom: 5px !important; 
        vertical-align:bottom !important;
    }
    
    .tekstbovenaantabel{
        color: grey;
        background-color: white;
    
    
    }
    
    
    #eenpersoonskamer{
        height: 200px;
        width: 290px;
    }
    
    #tweepersoonskamer{
        height: 200px;
        width: 290px;
    
    }
    
    #familiekamer{
        height: 200px;
        width: 290px;
    }
    
    #invalidekamer{
        height: 200px;
        width: 290px;
    
    }
    
    .tekst{
        color: gray;
    }
    
    .table{
    
    margin-top: -35px;
    }
    
    #datumtekst{
        color: gray;
    
    }
    
    .form-groupcol-lg-2{
        margin-left:-50px;
    }
    
    .form-group-col-lg-2{
        margin-left: -47px;
    }

    #kameroverzichttitel {
        margin-bottom: 50px;
        color: grey;
    }

    tbody, thead {
        color: gray;
    }

    .titels{
        text-align: center;
    }
    
    .knoppen, button {
        background-color: #5C5CFF;
        color: white;
        border: 0px;
        padding: 10px;
        border-radius: 10px !important;
    }

h4{
    margin-left: 10px;
}

table{
    margin-left:10px;
    margin-right: 50px !important; 
}

.table{
    padding-right:  10px;
}
    
#knopnieuwekamer{
    margin-left:10px;
    background-color: #5C5CFF;
    color: white;
    border: 0px;
    padding: 10px;
    border-radius: 10px !important;
} 

