
#Reserveringtitel{
    margin-top: 5px;
    color: grey
    }

.btn-primary{
    font-size: 50px;
    color:white ;
    background-color: grey;
    border:none;
}

.btn-primary:hover {
background-color:green;
}

.button{
    color: white;
    background-color: grey;
    border:none; 
}

tbody tr {
    border-color: #FFCCCB;
    border-width: 5px;
    
}

th {
    background-color: white; 
}

.naarbeneden{
    margin-bottom: 5px !important; 
    vertical-align:bottom !important;
}

.tekstbovenaantabel{
    color: grey;
    background-color: white;


}


#paragraaf1 {
padding:10px;
margin-left: 50px;
width: 550px;
height: 600px;
background-color:grey;
border-style:solid;
border-width: 2px;
border-color: black;
}


#Oudhotel{
    width: 300px;
    height: 300px;
    margin-left: 110px;
    margin-top: 25px;
    
}

#teksthistorie{
    text-align:center; 
}

#paragraaf2{
    padding: 10px;
    margin-left: 50px;
    width: 550px;
    height: 600px;
    background-color:grey;
    border-style:solid;
    border-width: 2px;
    border-color: black;

}

#saunafoto{
    margin-top:75px;
    width: 250px;
    height: 250px;
    margin-left: 25px;
}

#massagefoto{
margin-top:25px;
width: 200px;
height:200px; 

}

/* CSS voor contact.html */

#paragraafA {
    padding:10px;
    margin-top:25px;
    margin-left: 25px;
    width: 1355px;
    height: 1350px;
    background-color:grey;
    border-style:solid;
    border-width: 2px;
    border-color: black;
    }

#img_left{
width: 800px;
height: 523px;
margin-left: 1px;
margin-top:50px;


}

#contactgegevens{
    width: 550px;
    height: 400px;
   margin-top:50px;
    margin-left: 1px;
   
}

#bewegendemap{
    margin-top:15px;
    margin-left: 50px;
}

#locatie{
    margin-top: 50px;
}

#eenpersoonskamer{
    height: 200px;
    width: 290px;
}

#tweepersoonskamer{
    height: 200px;
    width: 290px;

}

#familiekamer{
    height: 200px;
    width: 290px;
}

#invalidekamer{
    height: 200px;
    width: 290px;

}

.tekst{
    color: gray;
}


















